p{
    margin: 0;
}
.mainDiv{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: rgba(10, 25, 47, 1);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.introDivContainer{
    height: 150vw;
    width: 100%;
    position: relative;
}
.introNameText{
    width: 92.061vw;
    height: 92.061vw;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.introText1{
    font-family: 'DM Mono';
    font-size: 3.308vw;
    color: rgba(151, 156, 159, 1);
    margin-top: 0vw;
    transition-duration: 0.5s;
    opacity: 1;
}
.introText1Before{
    font-family: 'DM Mono';
    font-size: 3.308vw;
    color: rgba(151, 156, 159, 1);
    margin-top: 3vw;
    transition-duration: 0.5s;
    opacity: 0;
}
.introText2{
    font-family: 'Calibri';
    font-size: 13.995vw;
    font-weight: 700;
    color: rgba(204, 214, 246, 1);
    margin-top: 2vw;
    transition-duration: 0.8s;
    opacity: 1;
}
.introText2Before{
    font-family: 'Calibri';
    font-size: 13.995vw;
    font-weight: 700;
    color: rgba(204, 214, 246, 1);
    margin-top: 5vw;
    transition-duration: 0.8s;
    opacity: 0;
}
.introText3{
    font-family: 'Calibri';
    font-size: 6.267vw;
    line-height: 7vw;
    font-weight: 700;
    color: rgba(136, 146, 176, 1);
    margin-top: 2vw;
    transition-duration: 1.1s;
    opacity: 1;
}
.introText3Before{
    font-family: 'Calibri';
    font-size: 6.267vw;
    line-height: 7vw;
    font-weight: 700;
    color: rgba(136, 146, 176, 1);
    margin-top: 5vw;
    transition-duration: 1.1s;
    opacity: 0;
}
.introText4{
    font-family: 'Calibri';
    font-size: 3.817vw;
    font-weight: 300;
    margin-top: 10vw;
    color: rgba(136, 146, 176, 1);
    transition-duration: 1.4s;
    opacity: 1;
}
.introText4Before{
    font-family: 'Calibri';
    font-size: 3.817vw;
    font-weight: 300;
    margin-top: 15vw;
    color: rgba(136, 146, 176, 1);
    transition-duration: 1.4s;
    opacity: 0;
}
.AboutmePage{
    position: relative;
    height: 370.684vw;
    width: 100%;
    opacity: 0;
    transition-duration: 0.5s;
    margin-top: 5vw;
}
.AboutmePageAfter{
    position: relative;
    height: 370.684vw;
    width: 100%;
    opacity: 1;
    transition-duration: 0.5s;
    margin-top: 0vw;
}
.experienceSliderPage{
    position: relative;
    width: 100%;
    height: 216.794vw;
    opacity: 0;
    transition-duration: 0.5s;
    margin-top: 5vw;
}
.experienceSliderPageAfter{
    position: relative;
    width: 100%;
    height: 216.794vw;
    opacity: 1;
    transition-duration: 0.5s;
    margin-top: 0vw;
}
.projectPage{
    position: relative;
    width: 100%;
    height: 517.341vw;
    opacity: 0;
    transition-duration: 0.5s;
    margin-top: 5vw;
}
.projectPageAfter{
    position: relative;
    width: 100%;
    height: 517.341vw;
    opacity: 1;
    transition-duration: 0.5s;
    margin-top: 0vw;
}
.contactUsPage{
    width: 100%;
    position: relative;
    height: 171.501vw;
    opacity: 0;
    transition-duration: 0.5s;
    margin-top: 5vw;
}
.contactUsPageAfter{
    width: 100%;
    position: relative;
    height: 171.501vw;
    opacity: 1;
    transition-duration: 0.5s;
    margin-top: 0vw;
}