p{
    margin: 0;
}
::-webkit-scrollbar {
    width: 0.521vw;
  }
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 146, 176, 1); 
    border-radius: 0.5vw;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(152, 155, 160, 1); 
  }
.mainDiv{  
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height:100vh;
    background-color: rgba(10, 25, 47, 1);
    /* background-color: red; */
    scroll-behavior: smooth;
}
.socialMedia{
    position: fixed;
    width: 1.172vw;
    height: 16.965vw;
    bottom: 0;
    left: 3.385vw;
}

.gitImage{
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    transition-duration: 0.2s;
}
.gitImageHover{
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    position: absolute;
    top: -0.3vw;
    transition-duration: 0.2s;
}
.twiter{
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    top: 2.804vw;
    cursor: pointer;
    transition-duration: 0.2s;
}
.twiterHover{
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    top: 2.5vw;
    cursor: pointer;
    transition-duration: 0.2s;
}
.linkdin{
    width: 1.5vw;
    height: 1.5vw;
    top: 5.46vw;
    cursor: pointer;
    position: absolute;
    transition-duration: 0.2s;
}
.linkdinHover{
    width: 1.5vw;
    height: 1.5vw;
    top: 5.16vw;
    cursor: pointer;
    position: absolute;
    transition-duration: 0.2s;
}
.whatsapp{
    width: 1.5vw;
    height: 1.5vw;
    top: 8vw;
    cursor: pointer;
    position: absolute;
    transition-duration: 0.2s;
}
.whatsappHover{
    width: 1.5vw;
    height: 1.5vw;
    top: 7.7vw;
    cursor: pointer;
    position: absolute;
    transition-duration: 0.2s;
}
.verticleLine{
    height: 6.771vw;
    width: 0.052vw;
    background: rgba(164, 175, 206, 1);
    margin: auto;
    margin-top: 10.2vw;
}
.emailDiv{
    position: fixed;
    width: 1.172vw;
    height: 17.4vw;
    bottom: 0;
    right: 3.385vw;
    z-index: 1;
}
.email{
    cursor: pointer;
    position: absolute;
    margin-top: 0vw;
    transition-duration: 0.2s;
}
.email p{
    font-family: 'Calibri';
    font-size: 0.9vw;
    color:rgba(164, 175, 206, 1);
    font-weight: 300;
    writing-mode: vertical-rl;
    transition-duration: 0.2s;
}
.emailHover{
    cursor: pointer;
    position: absolute;
    margin-top: -0.3vw;
    transition-duration: 0.2s;
}
.emailHover p{
    font-family: 'Calibri';
    font-size: 0.9vw;
    color:#8c8989;
    font-weight: 300;
    writing-mode: vertical-rl;
    transition-duration: 0.2s;
}
.introDiv{
    position: absolute;
    width: 59.229vw;
    height: 24.292vw;
    top: 10.99vw;
    left: 16.615vw;
    cursor: context-menu;   
}
.introText1Div{
    position: absolute;
    top: 3vw;
    left: 0;
    width: 10.625vw;
    height: 1.667vw;
    opacity: 0;
    transition-duration: 0.3s;
}
.introText1DivAfter{
    position: absolute;
    top: 1vw;
    left: 0;
    opacity: 1;
    width: 10.625vw;
    height: 1.667vw;
    transition-duration: 0.3s;
}
.introText1DivAfter p{
    font-family: 'DM Mono';
    font-weight: 400;
    color: rgba(151, 156, 159, 1);
    font-size: 1.042vw  ;
}
.introText2Div{
    position: absolute;
    top: 4.969vw;
    left: 0;
    opacity: 0;
    width: fit-content;
    height: fit-content;
    transition-duration: 0.3s;

}
.introText2DivAfter{
    position: absolute;
    top: 2.969vw;
    left: 0;
    opacity: 1;
    width: fit-content;
    height: fit-content;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}
.introText2DivAfter p{
    font-family: 'Calibri';
    color: rgba(204, 214, 246, 1);
    font-size: 4.688vw;
    font-weight: 700;
}
.introText3Div{
    top: 11vw;
    opacity: 0;
    transition-duration: 0.3s;
    position: absolute;
    left: 0;
    width: 60vw;
    height: fit-content;

}
.introText3DivAfter{
    top: 9vw;
    opacity: 1;
    transition-duration: 0.3s;
    position: absolute;
    left: 0;
    width: 72vw;
    height: fit-content;
    transition-delay: 0.4s;
}
.introText3DivAfter p{
    font-family: 'Calibri';
    font-weight: 700;
    color: rgba(136, 146, 176, 1);
    font-size: 2.688vw;
}
.introText4Div{
    top: 18.583vw;
    position: absolute;
    left: 0;
    opacity: 0;
    transition-duration: 0.3s;
    width: 35.146vw;
    height: fit-content;

}
.introText4DivAfter{
    top: 16.583vw;
    position: absolute;
    left: 0;
    opacity: 1;
    transition-duration: 0.3s;
    width: 35.146vw;
    height: fit-content;
    transition-delay: 0.6s;
}
.introText4DivAfter p{
    font-family: 'Calibri';
    font-weight: 400;
    color: rgba(136, 146, 176, 1);
    font-size: 1.198vw;
}
.aboutMeSection{
    position: relative;
    margin-top: 51.958vw ;
    margin-left: 16.615vw;
    opacity: 0;
    transition-duration: 0.5s;
}
.aboutMeSectionAfter{
    position: relative;
    margin-top: 48.958vw ;
    margin-left: 16.615vw;
    opacity: 1;
    transition-duration: 0.5s;
}
.experienceSliderSection{
    position: relative;
    margin-top: 17.583vw;
    margin-left: 16.615vw;
    opacity: 0;
    transition-duration: 0.5s;
}
.experienceSliderSectionAfter{
    position: relative;
    margin-top: 14.583vw;
    margin-left: 16.615vw;
    opacity: 1;
    transition-duration: 0.5s;
}
.projectSection{
    position: relative;
    margin-top: 17.583vw;
    margin-left: 16.615vw;
    opacity: 0;
    transition-duration: 0.5s;
}
.projectSectionAfter{
    position: relative;
    margin-top: 14.583vw;
    margin-left: 16.615vw;
    opacity: 1;
    transition-duration: 0.5s;
}
.contactUs{
    position: relative;
    margin-top: 73.583vw;
    margin-left: 30.469vw;
    opacity: 0;
    transition-duration: 0.5s;
}
.contactUsAfter{
    position: relative;
    margin-top: 70.583vw;
    margin-left: 30.469vw;
    opacity: 1;
    transition-duration: 0.5s;
}