.mainDiv{
  position: relative;
  height: 20vw;
}
.headingDiv{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 40.385vw;
  justify-content: space-between;
}
.headingText p{
  cursor: context-menu;
  font-size: 2.031vw;
  font-weight: 700;
  font-family: 'Calibri';
  color:  rgba(204, 214, 246, 1);
}
.headingText p span{
  font-family: 'DM Mono';
  font-size: 1.250vw;
  font-weight: 400;
  margin-right: 0.625vw;
  color: rgba(152, 155, 160, 1);
}
.headingLine{
  margin: auto;
  width: 20vw;
  height: 0.105vw;
  background-color: rgba(152, 155, 160, 1);
  border-radius: 0.5vw;
}
.sliderDiv{
  position: absolute;
  height: 17vw;
  top: 3vw;
  justify-content: space-between;
  display: flex;
}
.CompanyNameDiv{
  height: 11vw;
  border-left: 0.2vw solid rgba(35, 53, 84, 1);
}
.smallMoveableLine{
  width: 0.2vw;
  height: 3vw;
  background-color: rgba(152, 155, 160, 1);
  position: absolute;
  left: 0;
  transition-duration: 0.3s;
}
.companyName{
  height: 3vw;
  width: 11.635vw;
  background-color: transparent;
  margin-bottom: 1vw;
  text-align: center;
  cursor: pointer;
  color: rgba(136, 146, 176, 1);
  transition-duration: 0.3s;
}
.companyNameActive{
  height: 3vw;
  width: 12.635vw;
  background-color: rgba(152, 155, 160, 0.3);
  margin-bottom: 1vw;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.companyName:hover{
  height: 3vw;
  width: 12.635vw;
  background-color: rgba(152, 155, 160, 0.3);
  margin-bottom: 1vw;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
  color: rgba(162, 166, 168, 1);
}
.companyName p {
  padding-top: 0.9vw;
  font-size: 0.885vw;
}
.companyNameActive p {
  padding-top: 0.9vw;
  font-size: 0.885vw;
  color: rgba(162, 166, 168, 1); 
}
.designationText p{
  font-family: 'Calibri';
  font-size: 1.458vw;
  color:rgba(185, 196, 227, 1);
  line-height: 1.667vw;
}
.designationText p span{
  position: relative;
  color: rgba(162, 166, 168, 1);
  cursor: pointer;
}
.designationText p span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.104vw; /* Adjust the distance from the text */
  width: 100%;
  height: 0.104vw; /* Adjust the thickness of the underline */
  background-color: rgba(162, 166, 168, 1); /* Set your desired underline color */
  transform: scaleX(0); /* Initial state: no underline */
  transform-origin: bottom left; /* Adjust as needed */
  transition: transform 0.3s ease; /* Smooth transition for underline appearance */
}
.companyDetailDiv{
  margin-left: 1vw;
  margin-top:1vw;
  opacity: 1;
  transition-duration: 0.3s;
}

.designationText p span:hover::before {
  transform: scaleX(1); /* Fully underline on hover */
}
.durationDiv{
  margin-top: 0.4vw;
}
.durationDiv P{
  font-family: 'Calibri';
  font-size: 0.885vw;
  color:rgba(185, 196, 227, 1);
}
.durationDiv P span{
  color:rgba(162, 166, 168, 1);
}
.list {
  list-style: none;
  font-family: inherit;
  font-size: 0.833vw;
  font-weight: 700;
  color: rgba(136, 146, 176, 1);
  column-count:1; /* Set the number of columns */
} 

.list li {
  cursor: context-menu;
  display: list-item;
  text-align: left;
  padding-bottom: 0.5vw;
}

.list li::before {
  content: "\25B7"; /* Unicode bullet symbol */
  color: rgba(162, 166, 168, 1); /* Bullet color */
  font-weight: bold;
  padding-right: 0.781vw;
}